DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME"

FROM_EMAIL="codesh@gmail.com"
SMTP_HOST="smtp-relay.brevo.com"
SMTP_PORT="587"
SMTP_USER="7a38201@smtp-brevo.com"
SMTP_PASSWORD="xsmtpsib-ef7c101mn4pg"

RAZORPAY_KEY_ID="rzp_tesJNcx"
RAZORPAY_KEY_SECRET="qtIVyC"

SPACES_ACCESS_KEY="DO8GHCZYCWD6A"
SPACES_SECRET_KEY="X9le6/k"
SPACES_BUCKET="detorage"
SPACES_REGION="blr2"
SPACES_ENDPOINT="https://blr2.digitaloceanspaces.com"
UPLOAD_FOLDER="data"

