@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 203 32% 16%;
    --card: 0 0% 100%;
    --card-foreground: 203 32% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 203 32% 16%;
    --primary: 203 32% 16%;
    --primary-foreground: 203 54% 92%;
    --secondary: 199 36% 90%;
    --secondary-foreground: 203 30% 24%;
    --muted: 205 22% 88%;
    --muted-foreground: 205 16% 40%;
    --accent: 201 48% 62%;
    --accent-foreground: 203 42% 14%;
    --destructive: 5 72% 56%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 18% 82%;
    --input: 203 18% 82%;
    --ring: 203 36% 24%;
    --chart-1: 203 32% 26%;
    --chart-2: 199 50% 42%;
    --chart-3: 201 48% 62%;
    --chart-4: 32 74% 60%;
    --chart-5: 347 72% 54%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 40% 8%;
    --foreground: 203 32% 90%;
    --card: 215 40% 10%;
    --card-foreground: 203 32% 90%;
    --popover: 215 40% 10%;
    --popover-foreground: 203 32% 90%;
    --primary: 199 52% 44%;
    --primary-foreground: 210 40% 12%;
    --secondary: 203 28% 18%;
    --secondary-foreground: 203 36% 88%;
    --muted: 205 24% 22%;
    --muted-foreground: 205 20% 74%;
    --accent: 201 48% 32%;
    --accent-foreground: 203 44% 90%;
    --destructive: 5 66% 46%;
    --destructive-foreground: 0 0% 95%;
    --border: 208 24% 24%;
    --input: 208 24% 24%;
    --ring: 199 52% 48%;
    --chart-1: 199 52% 48%;
    --chart-2: 201 48% 40%;
    --chart-3: 32 74% 62%;
    --chart-4: 347 72% 56%;
    --chart-5: 265 52% 66%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
